* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 1.33px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
}


/*---------------------------------------*/


/*---------------section top------------------------*/


/*---------------------------------------*/

.section-top {
    width: 100%;
    height: 875px;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.about-us {
    position: absolute;
    top: 6.11%;
    left: 70%;
}

.about-us a {
    color: #283238;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sign-in {
    border: 2px solid #8bc34a;
    width: 82px;
    height: 36px;
    border-radius: 100px;
    position: absolute;
    bottom: 796px;
    left: 78.42%;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
}

.sign-in a {
    color: #8bc34a;
}

.section-top .logo-hapo {
    margin-top: 13%;
    margin-left: 43.33%;
}

.icon-gift {
    width: 96px;
    height: 110px;
    position: absolute;
    left: 30.47%;
    top: 43%;
    color: #283238;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.07px;
}

.icon-gift .gift {
    width: 52px;
    height: 48px;
    margin-left: 22px;
}

.icon-gift p {
    padding-bottom: 0;
}

.icon-clock {
    width: 101px;
    height: 110px;
    position: absolute;
    left: 47%;
    top: 43%;
    color: #283238;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.07px;
}

.icon-clock .clock {
    width: 52px;
    height: 48px;
    margin-left: 22px;
}

.icon-like {
    width: 141px;
    height: 110px;
    position: absolute;
    left: 62%;
    top: 43%;
    color: #283238;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.07px;
    text-align: center;
}

.icon-like .like {
    width: 52px;
    height: 48px;
    margin-left: 22px;
}

.lorem-text {
    position: absolute;
    bottom: 314px;
    left: 35%;
    color: #283238;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    letter-spacing: -0.03px;
    line-height: 24px;
}

.button-start-top {
    width: 195px;
    height: 50px;
    position: absolute;
    bottom: 27%;
    left: 45%;
}


/*-----------------------------------------*/


/*---------------section learn--------------------------*/


/*-----------------------------------------*/

.section-learnt {
    width: 1139.79px;
    height: 571px;
    margin: 0px auto;
    position: relative;
}

.section-learnt .container-left .hapo-erp {
    margin-right: 30.48px;
    margin-top: 100px;
}

.section-learnt .container-right {
    width: 555px;
    height: 371px;
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 0;
}

.section-learnt .container-right .icon-bookmark {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 14px;
}

.section-learnt .container-right h1 {
    margin-left: 54px;
    margin-bottom: 15px;
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 63px;
}

.section-learnt .container-right p {
    margin-top: 25px;
}

.button-start-learnt {
    width: 195px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/*--------------------------------*/


/*------------report--------------------*/


/*--------------------------------*/

.report {
    width: 1139.79px;
    height: 370px;
    margin: 100px auto;
    position: relative;
    border-top: 1px solid red;
}

.report .report-left {
    width: 555px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.report .report-left h1 {
    margin-left: 54px;
    margin-bottom: 15px;
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 63px;
}

.report .report-left p {
    margin-top: 25px;
}

.report .report-left .icon-write {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 14px;
}

.button-start-report {
    width: 195px;
    height: 50px;
    position: absolute;
    bottom: 2.09%;
    left: 0%;
}

.report .report-right .image-report {
    width: 555px;
    height: 100%;
    margin-left: 30.48px;
    position: absolute;
    right: 0;
}


/*------------------------------*/


/*-----------list function-------------------*/


/*------------------------------*/

.list-function {
    width: 100%;
    height: 322px;
    background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
    margin-top: 100px;
}