* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: Enso;
    src: url(../fonts/enso.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

.mob-container {
    display: none;
}

.section {
    width: 100%;
    height: 471px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.container {
    width: 1140px;
    height: 371px;
    display: flex;
    justify-content: space-between;
}

.container-learnt-left,
.container-report-left,
.container-member-left,
.container-customer-left,
.container-project-left {
    width: 555px;
    height: 100%;
}

.container-learnt-right,
.container-report-right,
.container-member-right,
.container-customer-right,
.container-project-right {
    width: 555px;
    height: 100%;
}

.icon-content {
    height: 36px;
    width: 36px;
}

.title {
    margin-top: -50px;
    margin-left: 54px;
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 63px;
    display: block;
}

.slogan {
    width: 442px;
    height: 19px;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    font-style: italic;
}

.content {
    width: 555px;
    height: 168px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 30px;
}

#button-start {
    width: 195px;
    height: 50px;
    border-radius: 100px;
    background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 1.33px;
    line-height: 21px;
    text-transform: uppercase;
}

.title-our-customer {
    height: 73px;
    width: 72px;
    opacity: 0.4;
    color: #FFFFFF;
    font-family: themify;
    font-size: 72px;
    letter-spacing: -0.14px;
    line-height: 73px;
    text-align: justify;
}

.section-banner-top {
    width: 100%;
    height: 860px;
    background-image: url(../images/banner.jpg);
    background-size: 100% 100%;
    padding-top: 15px;
    text-align: center;
}

.banner-link {
    width: 186px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-left: 70%;
}

.about-us {
    width: 66px;
    height: 16px;
    margin-top: 10px;
}

.text-about {
    color: #283238;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sign-in {
    width: 78px;
    height: 100%;
    border-radius: 100px;
    border: 2px solid #8BC34A;
    text-align: center;
    line-height: 36px;
}

.text-sign {
    color: #8BC34A;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container-bettwen {
    width: 750px;
    height: 398px;
    text-align: center;
    margin: 0 auto;
    margin-top: 165px;
}

.hapo-erp {
    width: 256px;
    height: 77px;
    color: #AED581;
    font-family: Enso;
    font-size: 64px;
    line-height: 77px;
}

.title-icon {
    width: 100%;
    height: 110px;
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

.icon-top {
    height: 48px;
    width: 52px;
    color: #283238;
    font-family: themify;
    font-size: 48px;
    letter-spacing: 4px;
    line-height: 48px;
}

.title-bettwen {
    display: block;
    height: 48px;
    width: 96px;
    color: #283238;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.07px;
    line-height: 48px;
    margin-top: 14px;
}

.gift-better {
    width: 96px;
    height: 100%;
}

.clock-faster {
    width: 101px;
    height: 100%;
}

.thubm-together {
    width: 141px;
    height: 100%;
}

.title-lorem {
    display: block;
    width: 669px;
    height: 24px;
    color: #283238;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    letter-spacing: -0.03px;
    line-height: 24px;
    margin-top: 53px;
}

.button-banner-top {
    height: 50px;
    width: 195px;
    margin-top: 31px;
    margin-left: 278px;
}

.learnt .container-learnt-left {
    background-image: url(../images/TIL.png);
    background-size: 100% 100%;
}

.learnt h1 {
    width: 308px;
    height: 63px;
}

.report .container-report-right {
    background-image: url(../images/daily-report.png);
    background-size: 100% 100%;
}

.report h1 {
    width: 257px;
    height: 63px;
}

.section-list {
    width: 100%;
    height: 253.25px;
    padding-top: 68.75px;
    background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
}

.section-list .container-list {
    width: 59%;
    height: 211.95px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.circle-title {
    width: 109.5px;
    height: 100%;
}

.circle-small {
    box-sizing: border-box;
    height: 109.5px;
    width: 109.5px;
    border: 2.5px solid #FFFFFF;
    border-radius: 50%;
}

.circle-large {
    box-sizing: border-box;
    height: 45.5px;
    width: 45.5px;
    border: 2.5px solid #FFFFFF;
    background-color: #7CB342;
    border-radius: 50%;
    margin-top: -22.7px;
    margin-left: 32.05px;
}

.icon-list {
    margin-top: 36px;
    margin-left: 32px;
    width: 36px;
    height: 36px;
    color: white;
}

.title-list {
    display: block;
    height: 42px;
    width: 69px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 1.33px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 10.75px;
    margin-left: 21.5%;
}

.member {
    width: 100%;
    height: 488px;
}

.member h1 {
    width: 216px;
    height: 63px;
}

.member p {
    width: 519px;
    height: 50px;
    margin-bottom: 17px;
}

.member .member-content-three {
    margin-bottom: 30px;
}

.member .container-member-right {
    height: 388px;
    background-image: url(../images/members.png);
    background-size: 100% 100%;
}

.member .content {
    margin-top: -24px;
    margin-left: 36px;
}

.customer {
    height: 478px;
}

.customer h1 {
    width: 243px;
    height: 63px;
}

.customer p {
    width: 524px;
    height: 48px;
    margin-bottom: 16px;
}

.customer-content-three {
    margin-bottom: 30px;
}

.customer .container-customer-left {
    background-image: url(../images/TIL.png);
    background-size: 100% 100%;
}

.customer-content-one,
.customer-content-two,
.customer-content-three {
    text-indent: 36px;
    margin-top: -25px;
    margin-bottom: 20px;
}

.section-our-customer {
    background-image: url(../images/Rectangle\ 3.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 494px;
    padding-top: 50px;
    text-align: center;
}

.title-customer {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 63px;
}

.list-customer {
    width: 60%;
    height: 127px;
    margin-top: 48px;
    margin-left: 390px;
    display: flex;
    justify-content: space-between;
}

.circle-customer-small {
    width: 80px;
    height: 100%;
}

.name-customer {
    display: block;
    width: 58px;
    height: 31px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 10px;
    letter-spacing: -0.03px;
    line-height: 13px;
    margin-left: 12.5%;
    margin-top: 16px;
}

.title-six {
    margin-top: 39px;
    margin-left: 25%;
}

.our-customer-content {
    display: block;
    height: 90px;
    width: 39%;
    margin-left: 30.5%;
    margin-top: -20px;
    height: 90px;
    width: 750px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.03px;
    line-height: 30px;
    text-align: justify;
}

.title-nine {
    margin-left: 71%;
    margin-top: -28px;
}

.project .container-project-right {
    background-image: url(../images/daily-report.png);
    background-size: 100% 100%;
}

.project h1 {
    width: 161px;
    height: 63px;
}

.section-footer {
    height: 135px;
    width: 100%;
    background-color: #39474E;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
    padding-top: 45px;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 1143px;
    height: 81px;
    display: flex;
    justify-content: space-between;
}

.footer-about-us {
    width: 73%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-link {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer-content {
    width: 17%;
    height: 100%;
}

.footer-content .content-hapo {
    height: 29px;
    width: 96px;
    color: #AED581;
    font-family: Enso;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}

.footer-about-us span {
    display: block;
    color: #D0D8DC;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.02px;
    line-height: 0;
}

.title-footer-content {
    color: #8BC34A;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.03px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.title-content-coppyright {
    width: 73px;
    height: 13px;
    margin-top: 36px;
}

.title-content-contact {
    width: 63px;
    height: 40px;
    margin-top: 14px;
}

.title-content-about {
    width: 76px;
    height: 40px;
    margin-top: 14px;
}

.title-content-terms {
    width: 76px;
    height: 40px;
}

@media only screen and (max-width: 480px) {
    .pc {
        display: none;
    }
    .report {
        width: 100%;
        height: 657px;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .report .container-report {
        width: 460px;
        height: 627px;
        display: flex;
        justify-content: space-between;
        padding-top: 0;
    }
    .icon-content {
        height: 20px;
        width: 20px;
        margin-top: 7px;
        margin-left: 146px;
    }
    .title {
        margin-top: -27px;
        margin-left: 180px;
        height: 32px;
        width: 154px;
        color: #444444;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.05px;
        line-height: 32px;
    }
    .slogan {
        display: block;
        margin-top: 5px;
        margin-bottom: 16px;
        color: #283238;
        font-family: Roboto;
        font-size: 13px;
        letter-spacing: -0.03px;
        line-height: 24px;
        text-align: center;
        width: 100%;
        height: 24px;
    }
    .content {
        width: 460px;
        height: 168px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    #button-start {
        width: 144px;
        height: 40px;
        font-size: 14px;
        letter-spacing: 1.17px;
        line-height: 19px;
        margin-left: 168px;
    }
    .title-our-customer {
        font-size: 48px;
        letter-spacing: -0.09px;
        line-height: 48px;
        text-align: justify;
    }
    .section-banner-top {
        width: 100%;
        height: 250.75px;
        background-image: url(../images/MB/Rectangle.jpg);
        background-size: 100% 100%;
        padding-top: 15px;
        text-align: center;
    }
    .banner-link {
        width: 171px;
        height: 32px;
        margin-left: 59.5%;
    }
    .container-bettwen {
        width: 299px;
        height: 170px;
        margin-top: 8px;
    }
    .hapo-erp {
        width: 96px;
        height: 29px;
        font-size: 24px;
        line-height: 29px;
    }
    .title-icon {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .icon-top {
        height: 18px;
        width: 20px;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 18px;
    }
    .title-bettwen {
        display: block;
        height: 24px;
        width: 48px;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.03px;
        line-height: 24px;
        margin-top: 8px;
    }
    .gift-better {
        width: 48px;
    }
    .clock-faster {
        width: 51px;
    }
    .thubm-together {
        width: 71px;
    }
    .title-lorem {
        width: 295px;
        height: 11px;
        font-size: 9px;
        letter-spacing: -0.02px;
        line-height: 11px;
        margin-top: 15px;
    }
    .button-banner-top {
        margin-top: 15px;
        margin-left: -86px;
    }
    .learnt {
        width: 100%;
        height: 657px;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .learnt .container-learnt {
        width: 460px;
        height: 627px;
        display: flex;
        justify-content: space-between;
        padding-top: 0;
    }
    .learnt h1 {
        width: 144px;
        height: 32px;
    }
    .container-learnt-left {
        display: none;
        background-color: red;
    }
    .container-learnt-right {
        width: 460px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .img-learnt {
        width: 100%;
        height: 302.47px;
        display: block;
        margin-bottom: 21px;
    }
    .section {
        width: 100%;
        height: 641px;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .container {
        width: 460px;
        height: 621px;
        display: flex;
        justify-content: space-between;
        padding-top: 0;
    }
    .container-report-left {
        width: 460px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .container-report-right {
        display: none;
    }
    .report h1 {
        width: 129px;
        height: 32px;
    }
    .img-report {
        width: 100%;
        height: 272.27px;
        display: block;
        margin-bottom: 35.25px;
    }
    .report .container span {
        margin-bottom: 15px;
    }
    .report .container p {
        margin-bottom: 15px;
    }
    .section-list {
        width: 100%;
        height: 253px;
        padding-top: 69px;
        background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
    }
    .section-list .container-list {
        height: 211.95px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 462.5px;
        margin-left: 8.75px;
    }
    .circle-title {
        width: 109.5px;
        height: 100%;
    }
    .circle-small {
        box-sizing: border-box;
        height: 109.5px;
        width: 109.5px;
        border: 2.5px solid #FFFFFF;
        border-radius: 50%;
    }
    .circle-large {
        box-sizing: border-box;
        height: 45.5px;
        width: 45.5px;
        border: 2.5px solid #FFFFFF;
        background-color: #7CB342;
        border-radius: 50%;
        margin-top: -22.7px;
        margin-left: 32.05px;
    }
    .icon-list {
        margin-top: 36px;
        margin-left: 32px;
        width: 36px;
        height: 36px;
        color: white;
    }
    .title-list {
        display: block;
        height: 42px;
        width: 69px;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 16px;
        letter-spacing: 1.33px;
        line-height: 21px;
        text-transform: uppercase;
        margin-top: 10.75px;
        margin-left: 21.5%;
    }
    .member {
        width: 100%;
        height: 774px;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .member .container-member {
        width: 460px;
        height: 714px;
        display: flex;
        justify-content: space-between;
        padding-top: 0;
    }
    .container-member-left {
        width: 460px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .container-member-right {
        display: none;
    }
    .member .icon-content {
        margin-top: 4px;
        margin-left: 173px;
    }
    .container-member-left h1 {
        margin-top: -24px;
        margin-left: 201px;
        width: 213px;
        height: 63px;
    }
    .img-member {
        width: 100%;
        height: 340px;
        display: block;
        margin-bottom: 35.25px;
    }
    .member .container span {
        margin-bottom: 20px;
    }
    .member .check-one {
        margin-left: -444px;
    }
    .member .content {
        width: 430.87px;
        height: 67px;
    }
    .member .member-content-one {
        margin-top: -20px;
        margin-left: 23px;
        margin-bottom: 15px;
    }
    .member .check-two {
        margin-left: -444px;
    }
    .member .member-content-two {
        margin-top: -20px;
        margin-left: 23px;
        margin-bottom: 15px;
    }
    .member .check-three {
        margin-left: -444px;
    }
    .member .member-content-three {
        margin-top: -20px;
        margin-left: 23px;
        margin-bottom: 21px;
    }
    .customer {
        display: none;
    }
    .section-our-customer {
        padding-top: 25px;
    }
    .title-customer {
        width: 145px;
        height: 32px;
        margin-left: 168px;
        font-size: 24px;
        letter-spacing: -0.05px;
        line-height: 32px;
    }
    .list-customer {
        width: 460px;
        height: 127px;
        margin-top: 38px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
    }
    .circle-customer-small {
        width: 80px;
        height: 100%;
    }
    .name-customer {
        margin-left: 20.5%;
        margin-top: 16px;
    }
    .title-six {
        width: 62.14px;
        height: 48px;
        margin-top: 58px;
        margin-left: 10px;
    }
    .our-customer-content {
        height: 100px;
        width: 460;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.03px;
        line-height: 25px;
    }
    .title-nine {
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 422px;
    }
    .project {
        width: 100%;
        height: 641px;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .container-project {
        width: 460px;
        height: 621px;
        display: flex;
        justify-content: space-between;
        padding-top: 0;
    }
    .container-project-left {
        width: 460px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .container-project-right {
        display: none;
    }
    .project h1 {
        width: 213px;
        height: 63px;
    }
    .img-project {
        width: 100%;
        height: 272.27px;
        display: block;
        margin-bottom: 35.25px;
    }
    .project .container span {
        margin-bottom: 15px;
    }
    .project .container p {
        margin-bottom: 15px;
    }
    .section-footer {
        height: 185px;
        width: 100%;
        border: 1px solid #ECEFF1;
        background-color: #39474E;
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
        padding-top: 24px;
    }
    .footer-container {
        width: 464px;
        height: 74px;
        margin-top: 25px;
        flex-direction: column;
    }
    .footer-about-us {
        width: 464px;
        height: 74px;
        margin-top: 25px;
        margin-left: -80px;
    }
    .footer-link {
        width: 115px;
        height: 13px;
        display: flex;
        margin-top: 60px;
        margin-left: -80px;
    }
    .footer-content {
        width: 80px;
        height: 100%;
    }
    .mb-footer-content {
        display: block;
        width: 63px;
        height: 43px;
    }
    .title-footer-content {
        height: 16px;
        color: #8BC34A;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.02px;
        line-height: 16px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .title-content-coppyright {
        width: 72px;
        height: 13px;
        margin-top: 36px;
    }
    .title-content-contact {
        width: 63px;
        height: 40px;
        margin-top: 14px;
    }
    .title-content-about {
        width: 76px;
        height: 40px;
        margin-top: 14px;
    }
    .title-content-terms {
        width: 76px;
        height: 40px;
    }
    .title-footer-one {
        width: 80px;
    }
    .title-footer-two {
        width: 75pc;
    }
    .title-footer-three {
        width: 91px;
    }
    .title-footer-four {
        width: 36px;
    }
    .mob-footer-link {
        display: block;
        width: 115px;
        height: 13px;
        margin-top: 168px;
        margin-left: -464px;
    }
    .icon-footer {
        width: 13px;
        height: 13px;
    }
    .mob-title {
        display: block;
        height: 24px;
        width: 96px;
        color: #AED581;
        font-family: Enso;
        font-size: 20px;
        line-height: 24px;
        margin-left: 10px;
    }
    .content-bottom {
        display: block;
        height: 13px;
        width: 69px;
        color: #D0D8DC;
        font-family: Roboto;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: -0.02px;
        line-height: 13px;
        margin-top: 138px;
        margin-left: -71px;
    }
}